---
- name: pyenv ... git clone
  ansible.builtin.git:
    repo: https://github.com/pyenv/pyenv.git
    dest: "{{ ansible_env.HOME }}/.pyenv"
    version: master

- name: pyenv ... write bashrc
  ansible.builtin.blockinfile:
    path: "{{ ansible_env.HOME }}/.bashrc"
    block: |
      export PYENV_ROOT="${HOME}/.pyenv"
      export PATH="${PYENV_ROOT}/bin:${PATH}"
      eval "$(pyenv init --path)"
    state: present
    marker: "# {mark} ANSIBLE PYENV BLOCK"

- name: pyenv ... source bashrc
  ansible.builtin.shell:
    cmd: source ~/.bashrc
    executable: /bin/bash
