services:
  db:
    image: postgres:18
    environment:
      - POSTGRES_DB=app
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - ./data.sql:/docker-entrypoint-initdb.d/data.sql
    ports:
      - 5432:5432
