[Unit]
Description=cywagon
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/cywagon up /var/www/html/server
Restart=always
User=root
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
