[Unit]
Description=cywagon
After=network.target

[Service]
Type=forking
ExecStart=cywagon up /var/www/html/server
PIDFile=/var/run/cywagon.pid
Restart=always

[Install]
WantedBy=multi-user.target
