<div class="memo">
  <%= link_to memo.title, memo_path(memo) %>
  <%= memo.content %>
  <div class="memo__actions">
    <%= button_to "Delete",
                  memo_path(memo),
                  method: :delete,
                  class: "btn btn--light" %>
    <%= link_to "Edit",
                edit_memo_path(memo),
                class: "btn btn--light" %>
  </div>
</div>
