<div class="container">
  <div class="header">
    <h1>Memos</h1>
    <%= link_to "New memo",
                new_memo_path,
                class: "btn btn--primary",
                data: { turbo_frame: dom_id(Memo.new) } %>
  </div>

  <%= turbo_frame_tag Memo.new %>

  <%= turbo_frame_tag "memos" do %>
    <%= render @memos %>
  <% end %>
</div>
