<main class="container">
  <div class="header">
    <h1>Memos</h1>
    <%= link_to "New memo",
                new_memo_path,
                class: "btn btn--primary" %>
  </div>

  <%= render @memos %>
</main>
