<main class="container">
  <%= link_to sanitize("&larr; Back to memos"), memos_path %>

  <div class="header">
    <h1>New memo</h1>
  </div>

  <%= turbo_frame_tag @memo do %>
    <%= render "form", memo: @memo %>
  <% end %>
</main>
