services:
  app:
    build:
      context: .
      dockerfile: ./Dockerfile
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_DB=app
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=password
    volumes:
      - .:/app
    ports:
      - 3000:3000
    tty: true
    depends_on:
      - db

  db:
    image: postgres:17
    environment:
      - POSTGRES_DB=app
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=password
    volumes:
      - dbdata:/var/lib/postgresql/data
    ports:
      - 5432:5432

volumes:
  dbdata:
